@media screen and (max-width: 800px) {
    .navbar{
        flex-direction: column;
        align-items: center;
    }
    .nav-title{
        margin-bottom: 20px;
    }
}

/* small device */
@media screen and (max-width:500px) {
    .nav-menu{
        display: block;
    }
    .nav-btn-container{
        display: none;
    }
    .navbar{
        flex-direction: row;
       
    }
    .nav-title{
        margin-bottom: 0px;
    }
}