*{
    margin: 0;
    padding: 0;
}

.banner{
    max-width: 80%;
    margin: 0 auto;
}
.navbar-banner{
    background-color: rgb(71, 85, 105);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: white;
}
.nav-btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px;
    margin-left: 10px;
}
.nav-title{
    /* color: white; */
}
.nav-menu{
    display:none ;
}